.grid{
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 10% 40% 30% 20%;
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #EBEBEB;
}
.detailsMoviePoster{
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.DetailsMovieOverview{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(245 , 245, 245);

}

.DetailsMovieOverview > span {
  color: #575756;
  font-family: Lato;
  display: flex;
  align-self: flex-start;
}
.DetailsMovieOverview > h2 {
  color: #116193;
  font-family: Abel;
  display: flex;
  justify-content: flex-start;
}

.DetailsMovieOverview > hr {
  color: #00E8E4;
}

.DetailsMovieInfo{
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  grid-template-rows: 50% 25% 25%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: rgb(245 , 245, 245);
}

.DetailsMovieInfo > h2 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #116193;
  font-family: Abel;
  display: flex;
  justify-content: space-around;
}

.DetailsMovieInfo > h3 {
  grid-row-start: 2;
  grid-auto-flow: row;
  font-family: Abel;
  color: #116193;
  display: flex;
  justify-content: center;
}

.DetailsMovieInfo > hr {
width: 80%;
}

.DetailsMovieInfo > div {
  grid-row-start: 3;
  grid-auto-flow: row;
}

.DetailsMovieTitle{
  background-color: #EBEBEB;
  color: #116193;
  font-family: Abel;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-bottom: 4em; 
}

.DetailsMovieTitle > h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DetailsRating{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  background: rgb(47, 0, 255);

  border-radius: 50%;
  font-size: 2em;
  height: 3.1em;
  width: 3.1em;
  border: 0.2em solid #00E8E4;
  margin-top: 0.2em;
  margin-left: 70%;
  background-color: #116193;
  font-family: Abel;
  color: #00E8E4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DetailsMovieDate{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #EBEBEB;
  color: #575756 ;
  font-family: Abel;
}

.DetailsMovieDate > h5 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
  padding-top: 1em;
}

.genresBox {
 grid-column: 4 / 8;
 grid-row-start: 8;
 grid-gap: 2em;
 display: grid;
 grid-template-columns: 20% 20% 20% 20% 20%;
 grid-template-rows: 33% 34% 33%;
}
.genresBox > div {
  grid-row-start: 1;
  grid-auto-flow: row;
  background: white;
  font-family: Lato;
  color: #116193;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 40%;
  border: 0.1em solid #116193;
  width: 5em;
  height: 2.5em;
}

.movieOverview {
  grid-column-start: 3;
  grid-column-end: span 8;
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: left;
  text-justify: start;
  font-family: Lato;
}

.movieDate {
  color: #575756;
  font-family: Abel;
  grid-column-start: 4;
  grid-column-end: span 3;
  grid-row-start: 3;
  font-size: 1.1em;
}

.movieBlockRating {
  border-radius: 50%;
  font-size: 2em;
  height: 2.1em;
  width: 2.1em;
  border: 4px solid #00E8E4;
  background-color: #116193;
  font-family: Abel;
  color: #00E8E4;
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieCardTitle{
  width: 100%;
  background-color: #116193;
  color: #00E8E4;
  font-family: Abel;
  font-size: 2.8em;
  display: flex;
  align-items: flex-end;
  padding-left: 2.4em;
  grid-column-start: 2;
  grid-column-end: 13; 
  grid-row-start: 1;
  grid-row-end: 3;
}

.moviePoster {
  grid-row-start: 1;
  grid-row-end: span 8;
  width: 100%;
}

.movieCard{
  background-color: #EBEBEB;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 30% 2.5% 2.5% 10% 10% 10% 10% 15%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 20% 20% ;

}

.headerBar {
  background-color: #116193;
  color: #00E8E4;
  font-family: Abel;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  
}

.searchBar {
    width: 85%;
    padding: 12px 24px;
    margin-top: 50px;

    background-color: #EBEBEB;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: #EBEBEB;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
